.document {
  border-width: 1px;
  border-color: @border-color;
  border-style: solid;
  border-radius: 4px;
  @media (min-width: @screen-sm-min) {
    margin-left: -@grid-gutter-width/2;
  }
}



.document-header {
  background-color: @medium-background-color;
  padding: 0.5em 1em;
  font-size: 1.2em;
}

.document-body {
  padding: 0.5em 1em;
}